<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NBuilder" version="6.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="Polly" version="5.7.0" targetFramework="net462" />
  <package id="Relativity.DataExchange.Client.SDK" version="1.15.30" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Kepler.Client.SDK" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="12.1.171.20" targetFramework="net462" />
  <package id="Relativity.OutsideIn" version="2021.8.0" targetFramework="net462" />
  <package id="Relativity.Productions.Client" version="11.1.0" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="15.6.0" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="3003.1.0" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="3003.0.2" targetFramework="net462" />
  <package id="Relativity.Transfer.Client" version="7.4.6" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.0.16" targetFramework="net462" />
</packages>