<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RelativityRestApiUrl" value="https://p-dv-vm-sae2top" />
    <add key="RelativityWebApiUrl" value="https://p-dv-vm-sae2top/RelativityWebApi" />
    <add key="RelativityUserName" value="relativity.admin@kcura.com" />
    <add key="RelativityPassword" value="Test1234!" />
    <!-- The SQL parameters are optional and only used to drop the test workspace
         database that gets created with each test run.
    -->
    <add key="SqlDropWorkspaceDatabase" value="true" />
    <add key="SqlInstanceName" value="P-DV-VM-SAE2TOP\EDDSINSTANCE001" />
    <add key="SqlAdminUserName" value="sa" />
    <add key="SqlAdminPassword" value="P@ssw0rd@1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>